<html>
{% include "plugins_javascript.html" %}
{% include "main_js.html" %}
<head>
<style type="text/css">
div.search {
margin-left:auto;
margin-right:auto;
width: 40%;
}

a {margin: 10px 20px 10px 20px;}

</style>
</head>
<body>

{% if info %}
 <script>
  alert('{{ info }}');
 </script>
{% endif %}

<div>
<form action="/query/q/" id="searchForm" style="background-color:black;padding:10px;">
<span style="color:white;float:right;"><b>Sutch...</b></Span>
<label style="color:white;" >Query</label>
<input type="text" style="border:1px solid;border-color:black;" name="q" id="q" size="100" value="" autocomplete="off"/>
<input type="button" style="border:1px solid;border-color:white;color:white;background-color:black;" value="search" id="submit_button"/>
<input type="button" style="border:1px solid;border-color:white;color:white;background-color:black;" value="More Results" id="more_button"/>
</form>
</div>


<div id="signup">
<span><b>Make Your Data Searchable :</b></span>
<a href="/facebook">Facebook</a>
<a href="/twitter">Twitter</a>
</div>

<hr />

<div id="result"></div>

<script>
  var count = 0;

  function populate_data(url, term , count){

    /* Send the data using post and put the results in a div */
  $.post( url, { q: term , c: count},
  function( data ) {

  $.each(data.result, function(i,item){
  var social_object = $.parseJSON(item);

  if(social_object.hasOwnProperty('actions')){
  var actions = social_object.actions;
  var link_text = social_object.message;
  if(!link_text)
   link_text = social_object.name;
  var link = actions[0].link;
  console.log(social_object);
  $("<a href='"+ link  +"'>"+link_text + "</a></br>").hide().prependTo("#result").slideDown("slow");
  }

  else if(social_object.hasOwnProperty('text')){
  url = "http://twitter.com/#!/" + social_object.user.name + "/status/" + social_object.id_str;
  $("<a href='"+ url  +"'>"+social_object.text + "</a></br>").hide().prependTo("#result").slideDown("slow");;
  }

  });
  
  },
  "json"
  );
 

 }

  function process_submit_button(){
  $("#result").empty();
  var $form = $("#searchForm"),
  term = $form.find( 'input[name="q"]' ).val(),
  url = $form.attr( 'action' );
  count = 0;
  populate_data(url, term , count)
  }

  /* attach a submit handler to the form */
  $("#searchForm").submit(function(event) {
  event.preventDefault(); 
  process_submit_button();
  });

  $("#submit_button").click(function(event) {
  process_submit_button();
  });

  $("#more_button").click(function(event) {
  var $form = $("#searchForm"),
  term = $form.find( 'input[name="q"]' ).val(),
  url = $form.attr( 'action' );
  count = count + 10;
  populate_data(url, term , count)
  });


</script>



<div>
</div>
</body>
</html>
